/*styling my name, or "brand" */

#name {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar-brand {
  background-color: #4aaaa5;
  margin: 0;
  line-height: 80px;
  width: 300px;
  font-size: 20px;
  text-align: center;

}

.bg-light {
  padding: 0;
}

body {
  background-image: url("brickwall.png");

}

img {
  height: 100px;
  width: 300px
}

/*footer*/

.fixed-bottom {
  background-color: darkgray;
  color: white;
  font-size: 10px;
  text-align: center;
  border-top: 5px solid teal;
  height: 50px;
}

/*h1 is the title of the main card*/

h1 {
  margin: 20px;
}

/*The div containing the portfolio photos. Setting the width to auto and removing padding
made the image autofit to the div. If not the div overlaps the photo and the title fits to the overlapping
div, making everything off center and not responsive */

.portPhoto {
  width: auto;
  height: auto;
  padding-right: 0;
  padding-left: 0;
  margin: 10px;

}

#profilePicture {
  width: 200px;
  height: 200px;
}

/*The div containing the title of the projects. I set the margin and padding to 0 so it would 
stay flush with the image*/

.text-center {
  margin: 0;
  padding: 0;

}

/*Setting the dimensions of the card containing information on every page*/

.aboutMe {
  padding: 30px;
  margin-bottom: 30px;
}

/*Positioning the project name tag as relative made me able to put the tag on the bottom
of the photo, otherwise it stayed flush to top*/

h6,a {
  width: 100%;
  background-color: #4aaaa5;
  color: white;
  height: 50px;
  text-align: center;
  position: relative;
  top: 70%;
  padding: 15px;

}

/*Forcing the message box in contact page to a larger size*/

.message {
  height: 300px;
}

#resume {
  padding-left: 200px
}
/* I had to use a media query to prevent the navigation links from collapsing */

@media (min-width: 750px) {
  #menu {
    width: 350px;
  }
}

@media (max-width: 1170px) {
  #menu {
    width: 350px;
  }
}

