.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .profileContainer {
  float: left;
} */

#current-projects {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  /* font-weight: bold; */
  border-color: gray;
  text-align: center;
 
  
}

.modalButton {
  border-radius: 50%;
  
  color: black;
  background-color: whitesmoke;
}

.current-projects-div {
  position:relative;
  border-width: 1px;
  border-style: solid;
  border-color:white;
  border-bottom-color: gray;
  margin-bottom: 20px
}

.jumbotron {
  display: flex;
  flex-direction: row;
  
}

.tech-pic{
  margin: 10px
}

#resume-pic {
  margin-right: 8px
}

#my-name {
  font-size: 30px;
  font-weight: bold
}

.pic-link {
  
  position: relative;
  height: auto;
  margin: 0 auto;

  
}

.avatar-div {
  position: relative;
  
}

.profileContainer {
  position: relative;
}



html,body{height:100%;margin:0;padding:0}


#jumbotron{
  background-image: url('../assets/flowers.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  
  }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
